<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <base th:href="@{/}" />
    <title layout:title-pattern="$LAYOUT_TITLE - MyDarkSite">MyDarkSite</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<!-- Header Fragment -->
<div th:replace="header :: header"></div>

<!-- Page Content -->
<main layout:fragment="content"></main>

<!-- 자바스크립트 start -->
	<th:block layout:fragment="script"></th:block>
	<!-- 자바스크립트 end -->

<!-- Footer Fragment -->
<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div th:if="${param.login}">
  <script th:inline="javascript">
    Swal.fire({
      icon: 'success',
      title: '로그인 성공!',
      confirmButtonText: '확인'
    });
  </script>
</div>

<div th:if="${param.logout}">
  <script th:inline="javascript">
    Swal.fire({
      icon: 'success',
      title: '로그아웃 되었습니다',
      confirmButtonText: '확인'
    });
  </script>
</div>


</body>
</html>
